body{
    background-color: #B6720B;  
    margin: 0%;   
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
html{
    height: 100%;
}
.border{ 
    border-color: brown;
    border: solid; 
} 
.title{
    font-size: 45px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.hero{
    text-align: center; 
    position: relative;   
    opacity: 0.7; 
    width: 100%;
    margin: 0%;
}   
.nav{
    background-color: #C7853F;
    opacity: 0.7; 
    position: relative;
    text-align: center; 
    width: max-content;
    margin-left: 70%; 
}
.nav__ref{ 
     margin-right: 20px; 
     font-size: 20px;
     color: black; 
}

.container{ 
    width: 100%;  
}  
.container__text{
    width: 100%; 
    padding: 0%; 
}
.container__parrafo{
    font-size: 15px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}
.subtitle{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px; 
    margin-right: -5px;
}
.subtitle--first{
    margin-top: -5px;     
    margin-right: -5px;
}
.subtitle__tribu{
    background-color: #B15300;
    width: max-content;
    margin-bottom: 0px;
    padding-left: 5px; 
}
.tribu{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 0%;
    margin: 0%;
    width: 100%;   
}
.tribu__home{
    display: grid;
    grid-template-columns: 1fr 2fr;  
    margin-top: 25px;  
    background-color: rgb(139, 76, 4);
    width: 100%;
    opacity: 0.8; 
}
.tribu__container{ 
    background-color: rgb(139, 76, 4);
    opacity: 0.8; 
}
.picture{
    position: relative; 
    width: max-content; 
    height: 500px; 
}
.picture--right{   
     width: max-content;
     margin-top: 40px;
     margin-left: 40px;
}

.image{
    height: 500px;
    width: 400px;   
}
.image--right{
    height: 280px;
    width: 400px; 
}

.foot{
    background-color: #5c2c01; 
    position: relative; 
    font-size: 50px;
    color: black; 
    width: 100%;     
    height: 70px;     
    margin-top: auto;
}

.redes__sociales{
    margin-right: 50px;
    color: black;
} 
 